---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

# Declaration alignment
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: true
  AlignCompound: true
  PadOperators: true

# Additional useful alignment options
AlignConsecutiveAssignments:
  Enabled: true
AlignTrailingComments: true
AlignOperands: Align

# Access modifiers
AccessModifierOffset: -2
IndentAccessModifiers: false

# Other formatting
ColumnLimit: 200
PointerAlignment: Left
ReferenceAlignment: Left
NamespaceIndentation: All
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
